<ion-view title="bookmark" id="page10" style="background-color:#7E071C;">
  <ion-content padding="true" class="has-header">
    <div style="margin-right:-20px;">
      <button id="bookmark-button4" style="left:-10px;" class="button button-dark  button-full icon-left ion-paperclip"></button>
    </div>
    <div class="list card" id="bookmark-card21">
      <ion-item id="bookmark-list-item28">05 304 06 99</ion-item>
      <div class=" item item-image">
        <img src="img/2kjifLDJQSWH0SVU2aAu_angle-valve.png" width="100%" height="auto"
             style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="bookmark-heading8" style="color:#000000;">Eckregulierventil COMFORT</h4>
      <h4 id="bookmark-heading7" style="color:#000000;">DIN-Eckregulierventil mit COMFORT-Griff</h4>
      <div id="bookmark-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Mit selbstdichtendem Anschlussgewinde (ASAG easy), Prüfzeichen: DVGW zertifiziert.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
