<ion-popover-view style="background-color: #4c000f; border-radius:20px;">
  <ion-content>
    <div class="item" style=" background-color: transparent; color: white;"><img
      src="img/icons/dropdown-arrow.png" ui-sref="products"> Produktkategorien
    </div>
    <div ng-if="root">
      <div class="item" style=" background-color: transparent; color: white; text-indent: 10px;"><img
        src="img/icons/dropdown-arrow.png" ui-sref="product_lines"> {{root}}
      </div>
    </div>
    <div ng-if="prev">
      <div class="item" style=" background-color: transparent; color: white; text-indent: 20px;"><img
        src="img/icons/dropdown-arrow.png" ui-sref="product_overview"> {{prev}}
      </div>
    </div>
    <div ng-if="artikel">
      <div class="item" style=" background-color: transparent; color: white; text-indent: 30px;"><img
        src="img/icons/dropdown-arrow.png"> {{artikel}}
      </div>
    </div>

  </ion-content>
</ion-popover-view>
