<ion-view title="countryselect" id="page8" style="background-color:#740505;">
  <ion-content padding="true" class="has-header">
    <h1 id="countryselect-heading2" style="color:#F6F6F6;text-align:center;">Schell</h1>
    <form id="countryselect-form8" class="list">
      <label class="item item-select" id="countryselect-select1" name="country">
        <span class="input-label">Country</span>
        <select>
          <option>Deutschalnd</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </label>
    </form>
    <button id="countryselect-button1" class="button button-dark  button-block">Angaben speichern</button>
  </ion-content>
</ion-view>