<ion-view id="countryselect" style="background-color:#9e0a22;" hide-nav-bar="true">
  <ion-content padding="true" class="has-header">
    <img class="center" src="img/logo.png">
    <div style="padding: 20px;"></div>
    <div class="col text-center">
      <form id="countryselect-form8" class="list">
        <span style="color: #FFFFFF; padding: 3px;">Wählen Sie Ihr Land:</span>
        <div style="padding: 5px;"></div>
        <label class="item item-select" id="countryselect-select1" style="border-radius: 22px;">
          <span class="input-label"></span>
          <select>
            <option>Deutschland</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </label>
      </form>
      <button id="countryselect-button1" class="button button-black button-large" ui-sref="start-screen" style="text-align: center;">Angaben
        speichern</button>
    </div>

  </ion-content>
</ion-view>
