<ion-view id="countryselect" style="background-color:#9e0a22;" hide-nav-bar="true">
  <ion-content padding="true" class="has-header">
    <div style="padding: 20px;"></div>
    <img class="center-logo" src="img/logo.png">
    <div style="padding: 20px;"></div>
    <div class="row responsive-md">
      <div class="col col-33 col-offset-33 text-center">
        <form id="countryselect-form8" class="list">
          <span style="color: #FFFFFF; padding: 3px;" class="SyntaxLTStd-Bold">Wählen Sie Ihr Land:</span>
          <div style="padding: 5px;"></div>
          <label class="item item-select" id="countryselect-select1" style="border-radius: 4px;">
            <span class="input-label"></span>
            <select style="font-size: 16px;">
              <option>Deutschland</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </label>
        </form>
        <button id="countryselect-button1" class="button button-black button" ui-sref="start-screen" style="width: 100%; text-align: center;">Angaben
          speichern</button>
      </div>
    </div>

  </ion-content>
</ion-view>
