<ion-view  style="background-color:white;">
  <ion-nav-title>{{title}}</ion-nav-title>
  <!--
  <ion-floating-menu menu-color="#2c2a2b" menu-open-color="#2c2a2b" backdrop="true">
    <ion-floating-item icon="schellicon-home" ui-sref="start-screen" button-color="#2c2a2b" text="Hauptmenü" icon-color="#fff" ></ion-floating-item>
    <ion-floating-item icon="schellicon-mail" button-color="#2c2a2b" text="Artikel weiterempfehlen" icon-color="#fff"
                       click="sendEmail()"></ion-floating-item>
    <ion-floating-item id="downloaded-fab"
                       icon="schellicon-download"
                       button-color="#2c2a2b"
                       text="Artikel offline speichern" icon-color="#fff" click="downloadProduct()"></ion-floating-item>
    <ion-floating-item id="bookmark-fab" icon="schellicon-paper-clip" button-class="fab-normal" text="Artikel merken"
                       icon-color="#fff"
                       click="bookmark()"></ion-floating-item>
    <ion-floating-item ng-show="showBookmark" icon="schellicon-list" button-class="fab-normal" text="Merkliste"
                       icon-color="#fff" ui-sref="bookmark"></ion-floating-item>
  </ion-floating-menu>-->


  <!-- Breadcrumb ionic -->
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-chevron-down" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>

  <!-- Menu -->
  <div class="side-nav-wrapper">
    <ul class="side-nav hidden-xs">
      <li>
        <div ng-class="productDownloaded ? 'side-nav-downloaded' : 'side-nav-download' "
             ng-click="downloadProduct()"></div>
      </li>
      <li class="dropdown">
        <div class="dropdown-toggle side-nav-clip" ng-click="bookmark()">
          <span class="badge badge-assertive" ng-show="bookmarks.length > 0">{{bookmarks.length}}</span>
        </div>
      </li>
      <li>
        <div class="side-nav-mail" ng-click="sendEmail()">
        </div>
      </li>
      <li>
        <a ng-href="#/start-screen">
          <div class="side-nav-home">
          </div>
        </a>
      </li>
    </ul>

    <ul class="menu-wrapper visible-xs-block">
      <li>
        <a ng-href="#/start-screen">
          <div class="side-nav-home-sm schellicon-home">
          </div>
        </a>
      </li>
      <li>
        <div class="side-nav-mail-sm schellicon-mail" ng-click="sendEmail()">
        </div>
      </li>
      <li>
        <div class="bookmark-popup side-nav-clip-sm schellicon-paper-clip" ng-click="bookmark()">
          <span ng-class="bookmarks.length > 0 ? 'badge badge-assertive' : 'badge badge-hide badge-assertive'">{{bookmarks.length}}</span>
        </div>
      </li>
      <li>
        <div
          ng-class="productDownloaded ? 'side-nav-downloaded-sm schellicon-download':'side-nav-download-sm schellicon-download'"
          ng-click="downloadProduct()"></div>
      </li>
    </ul>
  </div>
  <!-- Menu end -->

  <ion-content padding="false" class="has-header">


    <script id="product-image.html" type="text/ng-template">
      <ion-modal-view>
        <ion-content>
          <img ng-src="{{details.image_landscape}}" ng-click="closeModal(1)">
          <div class="row">
            <div class="col">
              <button class="button button-block button-dark" ng-click="closeModal(1)" style="color: #fff;">
                Zurück
              </button>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="technical-drawing.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
        </ion-header-bar>
        <ion-content>
          <img ng-src="{{details.technical_drawing_link}}">
          <div class="row">
            <div class="col">
              <button class="button button-block button-dark" ng-click="closeModal(2)" style="color: #fff;">
                Zurück
              </button>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <div class="row responsive-sm marg-top-30">
      <div class="col col-40">
        <img ng-src="{{details.image_landscape}}" class="product-img" ng-click="openModal(1)">
      </div>
      <div id="detailPage-markdown3" class="col">
        <p id="detailPage-heading4" class="product-order-number">Bestellnummer: {{details.nummer}}</p>
        <p id="detailPage-heading3" class="product-name"> {{details.produktbezeichnung_de}} {{details.zusatz1_de}} </p>
        <p class="product-noted"> {{details.zusatz2_de}}</p>
        <div class="product-summary" ng-bind-html="details.beschreibung_de"></div>
        <ion-list>
          <div ng-repeat="list in listData">
            <div ng-show="list.hasData != '' ">
              <ion-item class="description-item" ng-click="toggleGroup(list)"
                        ng-class="{active: isGroupShown(list)}">
                <div class="item-icon-right">
                  <div class="wrap">
                    {{list.title}}
                  </div>
                  <i class="icon" ng-class="isGroupShown(list) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                </div>
              </ion-item>
            </div>
            <ion-item class="description-accordion" ng-show="isGroupShown(list)">
              <div ng-if="list.title.includes('ZEICHNUNG')">
                <img ng-src="{{details.technical_drawing_link}}" style="max-width: 100%; max-height: 100%;"
                     ng-click="openModal(2)">
              </div>
              <div ng-if="list.title == 'LIEFERUMFANG'">
                <div ng-bind-html="details.lieferumfang_de" class="wrap"></div>
              </div>
              <div ng-if="list.title == 'EINSATZBEREICH / TECHNISCHE DATEN'">
                <div ng-bind-html="details.einsatzbereich_de" class="wrap"></div>
              </div>
              <div ng-if="list.title == 'DETAILS'">
                <ul>
                  <li><strong>Werkstoff:</strong>
                    <div ng-bind-html="details.werkstoff_de" class="wrap"></div>
                  </li>
                  <li><strong>Prüfzeichen:</strong>
                    <p ng-bind-html="details.pruefzeichen_de" class="wrap"></p></li>
                  <li><strong>Geräuschklasse:</strong>
                    <p ng-bind-html="details.geraeuschklasse_de" class="wrap"></p></li>
                  <li><strong>Oberfläche:</strong>
                    <p ng-bind-html="details.oberflaeche_de" class="wrap"></p></li>
                  <li><strong>Gewicht:</strong>
                    <p ng-bind-html="details.gewicht" class="wrap"></p></li>
                  <li><strong>Verpackungseinheit:</strong>
                    <p ng-bind-html="details.verpackungseinheit" class="wrap"></p></li>
                </ul>
              </div>
              <div ng-if="list.title == 'DOWNLOADS'">
                <div ng-repeat="file in files">
                  <div class="row">
                    <div class="col col-20">
                      <img ng-src="{{file.thumbnail}}" width="70%" style="border: 1px solid #000;"
                           ng-click="downloadPDF(file,$index)"><!-- #TODO: put in download button -->
                      <div class="wrap">
                        {{file.category}},
                        {{file.broschurentitel_de}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-if="list.title == 'VARIANTEN'">
                <div ng-repeat="product in productVariations">
                  <div class="row" style="padding: 0 0 20px;">
                    <div class="col" style="padding: 0;">
                      <p style="color: #000;"><strong>Best.-Nr: <a ng-click="selectProductVariations(product.uid)"
                                                                   style="color: darkred;">{{product.nummer}}</a></strong>
                      </p>
                      <div class="wrap" ng-bind-html="product.werkstoff_de">,</div>
                      <p class="wrap">{{product.oberflaeche_de}},</p>
                      <p class="wrap">{{product.gewicht}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-if="list.title == 'EMPFOHLENE ZUGEHÖRIGE ARTIKEL'">
                <div ng-repeat="accessory in emfolene">
                  <table style="width: 100%">
                    <tr>
                      <th class="wrap">
                        {{accessory.product.produktbezeichnung_de}},
                        {{accessory.product.zusatz1_de}}
                      </th>
                      <th>
                        <strong style="color: #000;">Best.-Nr:</strong><a style="color: darkred;"
                                                                          ng-click="selectProductVariations(accessory.product.uid)">{{accessory.product.nummer}}</a>
                      </th>
                      <th>
                        <p ng-show="accessory.oder">oder</p>
                      </th>
                    </tr>
                  </table>
                </div>
              </div>
              <div ng-if="list.title == 'VERBINDUNG'">
                <div ng-repeat="accessory in verbindung">
                  <table style="width: 100%">
                    <tr>
                      <th class="wrap">
                        {{accessory.product.produktbezeichnung_de}},
                        {{accessory.product.zusatz1_de}}
                      </th>
                      <th>
                        <strong style="color:#000;">Best.-Nr:</strong><a style="color: darkred;"
                                                                         ng-click="selectProductVariations(accessory.product.uid)">{{accessory.product.nummer}}</a>
                      </th>
                      <th>
                        <p ng-show="accessory.oder">oder</p>
                      </th>
                    </tr>
                  </table>
                </div>
              </div>
              <div ng-if="list.title == 'NOTWENDIGE ZUGEHÖRIGE'">
                <div ng-repeat="accessory in notwendige">
                  <table style="width: 100%">
                    <tr>
                      <th class="wrap">
                        {{accessory.product.produktbezeichnung_de}},
                        {{accessory.product.zusatz1_de}}
                      </th>
                      <th>
                        <strong style="color: #000;">Best.-Nr: </strong><a style="color: darkred;"
                                                                           ng-click="selectProductVariations(accessory.product.uid)">{{accessory.product.nummer}}</a>
                      </th>
                      <th>
                        <p ng-show="accessory.oder">oder</p>
                      </th>
                    </tr>
                  </table>
                </div>
              </div>
              <div ng-if="list.title == 'VIDEO'">
                <div ng-show="videos">
                  <div ng-repeat="video in videos">
                    <div class="col">
                      <video width="100%" height="100%" controls poster="{{video.startimage_de}}">
                        <source src="{{trustSrc(video.videofile_de)}}">
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </ion-list>

        <div class="design-awards">
          <div class="row">
            <div class="col" ng-repeat="award in awards">
              <img ng-src="{{award.logo}}">
            </div>
          </div>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
