<ion-view title="detail-page" id="detail">
  <ion-content padding="true" class="has-header">
    <h5 id="detailPage-heading4" style="color:#999999;">Bestellnummer: 00 803 08 99</h5>
    <h4 id="detailPage-heading3" style="color:#9E0A22;">SCHELL Vorwand-Duschpaneel LINUS DP-SC</h4>
    <div>
      <img src="../img/0xyJsJUhRaGGSgpTrLRa_product-1.png" width="50" height="auto" style="display:block;">
    </div>
    <div id="detailPage-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#999999;">Selbstschluss Duschpaneel aus stabilem Alu-Strangpressprofil mit hochwertiger eloxierter Oberfläche und integrierter SCHELL Duscharmatur Type: LINUS D-SC Montage- und servicefreundlich durch schwenkbare Frontschale, geeignet für Anschlüsse von hinten
        bzw. für Vorwandanschlüsse von oben.</p>

      <p style="color:#999999;">LINUS DP-SC-M, Selbstschluss - Mischwasser, mit Duschkopf COMFORT</p>
    </div>
    <ion-list id="detailPage-list2">
      <ion-item class="dark" id="detailPage-list-item10">TECHNISCHE ZEICHNUNG</ion-item>
      <ion-item id="detailPage-list-item11">LIEFERUMFANG:</ion-item>
      <ion-item id="detailPage-list-item12">EINSATZBEREICH / TECHNISCHE DATEN:</ion-item>
      <ion-item id="detailPage-list-item13">DETAILS:</ion-item>
      <ion-item id="detailPage-list-item14">DOWNLOADS</ion-item>
      <ion-item id="detailPage-list-item15">VARIANTEN</ion-item>
      <ion-item id="detailPage-list-item16">EMPFOHLENE ZUGEHÖRIGE ARTIKEL</ion-item>
      <ion-item id="detailPage-list-item17">VIDEO</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
