<ion-view title="detail-page" id="detail">
  <!-- Menu -->
  <div class="side-nav-wrapper">
    <ul class="side-nav hidden-xs">
      <li>
        <div class="side-nav-download">
        </div>
      </li>
      <li class="dropdown">
        <div class="dropdown-toggle side-nav-clip" data-toggle="dropdown">
          <span class="bookmark-list-count">0</span>
        </div>
        <ul class="side-nav-dropdown dropdown-menu">
          <li><a href="#">In Merkliste Aufnehmen</a></li>
          <li><a ng-href="#/bookmark-list-detail">Merkliste anzeigen</a></li>
        </ul>
      </li>
      <li>
        <div class="side-nav-mail">
        </div>
      </li>
      <li>
        <a ng-href="#/start-screen">
          <div class="side-nav-home">
          </div>
        </a>
      </li>
    </ul>

    <ul class="menu-wrapper visible-xs-block">
      <li>
        <a ng-href="#/start-screen">
          <div class="side-nav-home-sm">
          </div>
        </a>
      </li>
      <li>
        <div class="side-nav-mail-sm">
        </div>
      </li>
      <li class="dropup">
        <div class="dropdown-toggle side-nav-clip-sm" data-toggle="dropdown">
          <span class="bookmark-list-count">0</span>
        </div>
        <ul class="side-nav-dropup dropdown-menu">
          <li><a href="#">In Merkliste Aufnehmen</a></li>
          <li><a ng-href="#/detail_page">Merkliste anzeigen</a></li>
        </ul>
      </li>
      <li>
        <div class="side-nav-download-sm">
        </div>
      </li>
    </ul>
  </div>
  <!-- Menu end -->

  <ion-content padding="false" class="has-header">
    <!-- Crumbs container
    <div class="crumbs-container">
      <ul class="crumbs">
        <li class="first">Grandparent</li>
        <li class="second"><span><img src="../img/icons/dropdown-arrow.png" class="crumbs-level"></span><a href="#">Parent</a></li>
        <li class="third"><span><img src="../img/icons/dropdown-arrow.png" class="crumbs-level"></span><a href="#">Child</a></li>
        <li class="fourth"><span><img src="../img/icons/dropdown-arrow.png" class="crumbs-level"></span><a href="#">Grandchild</a></li>
        <li class="last" style="background-color: #750017; text-indent: 0px;"><span><img src="../img/icons/dropdown-arrow.png" class="crumbs-level" style="display: none;"></span><a href="#">00 803 08 99</a></li>
      </ul>
      <div  id="crumbs-trigger" ng-click="toggleChevron()"><i ng-class="toggleChevron() ? 'ion-chevron-up' : 'ion-chevron-down'"></i></div>
    </div>
    End of crumbs -->

    <div class="row responsive-lg">
      <div class="col-10">
        <img src="../img/0xyJsJUhRaGGSgpTrLRa_product-1.png" class="responsive-lg">
      </div>
      <div id="detailPage-markdown3" class="col col-offset-20">
        <p id="detailPage-heading4" class="product-order-number">Bestellnummer: 00 803 08 99</p>
        <p id="detailPage-heading3" class="product-name">SCHELL Vorwand-Duschpaneel LINUS DP-SC</p>
        <p class="product-summary">Selbstschluss Duschpaneel aus stabilem Alu-Strangpressprofil mit hochwertiger
          eloxierter Oberfläche und integrierter SCHELL Duscharmatur Type: LINUS D-SC Montage- und servicefreundlich
          durch
          schwenkbare Frontschale, geeignet für Anschlüsse von hinten
          bzw. für Vorwandanschlüsse von oben.</p>
        <p class="product-noted">LINUS DP-SC-M, Selbstschluss - Mischwasser, mit Duschkopf COMFORT</p>
        <ion-list>
          <div ng-repeat="product in products">
            <ion-item class="description-item" ng-click="toggleGroup(product)"
                      ng-class="{active: isGroupShown(product)}">
              {{product.name}}
              <i class="icon" ng-class="isGroupShown(product) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            </ion-item>
            <ion-item class="description-accordion" ng-show="isGroupShown(product)">
              <div ng-if="product.data.includes('<img')">
                <div ng-bind-html="product.data"></div>
              </div>
              <div ng-if="product.data.includes('https')">
                <iframe width="600" height="400" src="{{trustSrc(product.data)}}" allowfullscreen></iframe>
              </div>
            </ion-item>
          </div>
        </ion-list>
        <img src="../img/design-awards.png">
      </div>
    </div>

  </ion-content>
</ion-view>
