<ion-view title="EINSTELLUNGEN" id="page7" style="background-color:#9e0a22;">
  <ion-content padding="true" class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="settings-container">
      <div class="row">
        <div class="col-75">
          <span>Wählen Sie die Kategorien die Sie offline auf</span>
          <span> diesem Gerät speichern möchten.</span>
        </div>
        <div class="col">
          <button class="button icon schellicon-reload"  ng-click="doRefresh()" style="border-radius: 50%;  min-height: 45px; min-width: 45px; background-color: #dfdfdf;"></button>
        </div>
      </div>
      <form id="offline" class="list">
        <label class="item item-input">
          <span class="input-label">Letzte Aktualisierung: 23. 02. 2016</span></label>
        <ion-item class="item-divider" id="settings-list-item-divider1"> PRODUKTE</ion-item>
        <ion-checkbox  ng-repeat="product in categories" ng-change="downloadCategory(product,product.checked)" ng-model="product.checked">
          <div ng-if="product.title_de">
            <strong>{{product.title_de}}</strong>
          </div>
        </ion-checkbox>
        <ion-toggle toggle-class="toggle-assertive" ng-model="item.checked" ng-change="update()"  ng-repeat="item in preferences" style="font-size: 15px;">
          {{item.text}}
        </ion-toggle>
      </form>
    </div>

  </ion-content>
</ion-view>
