<ion-view title="EINSTELLUNGEN" id="page7" style="background-color:#9e0a22;">
  <ion-content padding="true" class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="settings-container">
      <div class="row">
        <div class="col-80">
          <span style="font-weight: bold;">Wählen Sie die Kategorien die Sie offline auf</span>
          <span style="font-weight: bold;"> diesem Gerät speichern möchten.</span><br>
          <span>Letzte Aktualisierung: {{preferences.last_updated}}</span>
        </div>
        <div class="col">
          <button class="button icon schellicon-reload"  ng-click="doRefresh()" style="border-radius: 50%;  min-height: 45px; min-width: 45px; background-color: #dfdfdf; float: right; padding: 0 10px;"></button>
        </div>
      </div>
      <form id="offline" class="list">
        <ion-item class="item-divider" id="settings-list-item-divider1"> PRODUKTE </ion-item>
        <hr class="settings-hr">
        <ion-checkbox class="checkbox-settings item-checkbox-right"
                      ng-repeat="category in preferences[2].downloaded_categories"
                      ng-change="downloadCategory(category.item,category.checked)" ng-model="category.checked">
          <strong>{{category.item.title_de}}</strong>
        </ion-checkbox>
        <ion-item class="item-divider" id="settings-list-item-divider2">VIDEOS</ion-item>
        <hr class="settings-hr">
        <ion-checkbox class="checkbox-settings item-checkbox-right" ng-model="preferences[3].download_videos"
                      ng-change="downloadVideos()"><strong>Total size</strong><br>{{total_video_size}} GB
        </ion-checkbox>
        <ion-item class="item-divider" id="settings-list-item-divider3">SETTINGS</ion-item>
        <hr class="settings-hr">
        <ion-toggle toggle-class="toggle-assertive" ng-model="item.checked" ng-change="update()" ng-repeat="item in preferences.sync" style="font-size: 15px;">
          <strong>{{item.text}}</strong>
        </ion-toggle>
      </form>
    </div>

  </ion-content>
</ion-view>
