<ion-view title="EINSTELLUNGEN" id="page7" style="background-color:#9e0a22;">
  <ion-content padding="true" class="has-header">
    <div class="settings-container">
      <div class="row">
        <div class="col-80">
          <span style="font-weight: bold;">Wählen Sie die Kategorien die Sie offline auf</span>
          <span style="font-weight: bold;"> diesem Gerät speichern möchten.</span><br>
          <span>Letzte Aktualisierung: {{preferences[4].last_updated}}</span>
        </div>
      </div>
      <form id="offline" class="list">
        <ion-item class="item-divider" id="settings-list-item-divider1"> PRODUKTE </ion-item>
        <hr class="settings-hr">
        <ion-checkbox class="checkbox-settings item-checkbox-right"
                      ng-repeat="category in preferences[2].downloaded_categories" ng-model="category.checked">
          <div class="row">
            <div class="col col-75">
              <div class="wrap">
                <strong>{{category.item.title_de}}</strong>
              </div>
              <div class="wrap">
                {{counts[category.item.uid]}} Produkte Verfügbar
              </div>
            </div>
            <div class="col">
              <div style="text-align: right;">
                {{fileSizes[category.item.uid] / (1073741824) | number:2}} GBs
              </div>
            </div>
          </div>
        </ion-checkbox>
        <ion-item class="item-divider" id="settings-list-item-divider2">VIDEOS</ion-item>
        <hr class="settings-hr">
        <ion-checkbox class="checkbox-settings item-checkbox-right" ng-model="preferences[3].download_videos">
          <div class="row">
            <div class="col col-75">
              <div class="wrap">
                <strong>Videos</strong>
              </div>
              <div class="wrap">
                {{videos.length}} Videos Verfügbar
              </div>
            </div>
            <div class="col">
              <div style="text-align: right;">
                {{total_video_size | number: 2}} GBs
              </div>
            </div>
          </div>
        </ion-checkbox>
        <ion-item class="item-divider" id="settings-list-item-divider3">SETTINGS</ion-item>
        <hr class="settings-hr">
        <ion-toggle toggle-class="toggle-assertive" ng-model="preferences[0].checked" ng-change="update()"
                    style="font-size: 15px;">
          <strong class="wrap">{{preferences[0].text}}</strong>
        </ion-toggle>
        <ion-toggle toggle-class="toggle-assertive" ng-model="preferences[1].checked" ng-change="update()"
                    style="font-size: 15px;">
          <strong class="wrap">{{preferences[1].text}}</strong>
        </ion-toggle>
      </form>
      <button class="button button-large button-stable" ng-click="saveSettings()">Einstellungen speichern</button>
    </div>

  </ion-content>
</ion-view>
