<ion-view title="products" id="page4" style="background-color:#9e0a22;" xmlns="http://www.w3.org/1999/html">
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#2c2a2b" icon="ion-home" icon-color="#fff">
  </ion-floating-button>
  <ion-content padding="true" class="has-header">
    <div id="product-lines-body">
      <div class="container">
        <div class="product-lines">
          <h3 class="heading">Wandeinbau Duscharmaturen</h3>
          <div class="row responsive-lg">

            <div class="col">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>145 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/linus.png" class="center" style="width: auto;">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Linus</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>1145 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/linus-basic.png" class="responsive-sm center">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Linus Basic</h3>
                  </div>
                  </div>
              </div>
            </div>


            <div class="col">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>45 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/masterboxen.png" class="responsive-sm center">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Wandeinbau Masterboxen</h3>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row responsive-lg">

            <div class="col col-33">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>45 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/montagemodule.png" class="responsive-sm center">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Montagemodule</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-33">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>45 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/zubehor.png" class="responsive-sm center">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Zubehör</h3>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="product-lines">
          <h3 class="heading">Vorwand Duscharmaturen</h3>
          <div class="row responsive-lg">

            <div class="col" ui-sref="product_overview">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>145 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/waschtisch-basin.png" class="center" style="width: auto;">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Bezeichnung der Kategorie</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>1145 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/linus-basic.png" class="responsive-sm center">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Linus Basic</h3>
                  </div>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>45 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/masterboxen.png" class="responsive-sm center">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Wandeinbau Masterboxen</h3>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row responsive-lg">

            <div class="col col-33">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>45 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/montagemodule.png" class="responsive-sm center">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Montagemodule</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-33">
              <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>45 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <img src="img/zubehor.png" class="responsive-sm center">
                    </div>
                    <h3 class="product-type" style="text-align: right;">Zubehör</h3>
                  </div>
                </div>
              </div>
            </div>

          </div>



        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
