<ion-view  style="background-color:#9e0a22;">
  <ion-nav-title>{{title}}</ion-nav-title>
  <!-- FAB Menu -->
  <ion-floating-menu menu-color="#2c2a2b" menu-open-color="#2c2a2b" backdrop="true">
    <ion-floating-item icon="schellicon-home" ui-sref="start-screen" button-color="#2c2a2b" text="Home" icon-color="#fff"></ion-floating-item>
    <ion-floating-item icon="schellicon-filter" menu-toggle="left" button-color="#2c2a2b" text="Filter" icon-color="#fff"></ion-floating-item>
  </ion-floating-menu>
  <ion-nav-buttons side="right">
    <!-- Filter search bar -->
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
    <!-- Breadcrumb ionic -->
    <button class="button icon ion-chevron-down" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content>
    <div id="product-overview-body">
      <div class="container">
        <h3 class="heading">Bezeichnung der Kategorie</h3>
        <div ng-repeat="product in products" class="row responsive-sm" ng-if="$index%2 === 0">
          <div ng-repeat="p in product">

            <div class="col col-50" ng-if="p.media.image_portrait" ng-click="choice(p,p.nummer)">
              <div class="product-tile">
                <div class="row">
                  <div class="col col-75">
                    <p class="item-number">{{p.nummer}}</p>
                    <p class="item-title">{{p.de_data.produktbezeichnung}}</p>
                    <p class="item-name" ng-bind-html="p.de_data.werkstoff"></p>
                    <p>{{p.de_data.zusatz2}}</p>
                  </div>
                  <div class="col">
                    <img src="{{p.media.image_portrait}}">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
