<ion-view  style="background-color:#9e0a22;">
  <ion-nav-title>{{title}}</ion-nav-title>
  <!-- FAB -->
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#2c2a2b" icon="ion-home" icon-color="#fff">
  </ion-floating-button>

  <ion-content>
    <div id="product-overview-body">

      <h3 class="heading">Bezeichnung der Kategorie</h3>
      <div ng-repeat="product in products" class="row responsive-sm" ng-if="$index%2 === 0">
        <div ng-repeat="p in product">

          <div class="col" ng-if="p.media.image_portrait" ng-click="choice(p,p.nummer)">
            <div class="product-tile">
              <div class="row">
                <div class="col-70">
                  <p class="item-number">{{p.nummer}}</p>
                  <p class="item-title">{{p.de_data.produktbezeichnung}}</p>
                  <p class="item-name">{{p.de_data.werkstoff}}</p>
                  <p>{{p.de_data.zusatz2}}</p>
                </div>
                <div class="col">
                  <img src="{{p.media.image_portrait}}"  style="width: auto;">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
