<ion-view  style="background-color:#9e0a22;">
  <ion-nav-title>{{title}}</ion-nav-title>
  <!-- FAB Menu -->
  <ion-floating-menu menu-color="#2c2a2b" menu-open-color="#2c2a2b" backdrop="true">
    <ion-floating-item icon="schellicon-home" ui-sref="start-screen" button-color="#2c2a2b" text="Home" icon-color="#fff"></ion-floating-item>
    <ion-floating-item icon="schellicon-filter" menu-toggle="left" button-color="#2c2a2b" text="Filter" icon-color="#fff"></ion-floating-item>
  </ion-floating-menu>
  <ion-nav-buttons side="right">
    <!-- Breadcrumb ionic -->
    <button class="button icon ion-chevron-down" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content>
    <!-- For refreshing items -->
    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
    </ion-refresher>
    <div id="product-overview-body">
      <div class="container">
        <h3 class="heading">{{prev}} {{title}}</h3>
        <div ng-repeat="product in products" class="row responsive-sm">
            <div class="col col-50" ng-if="product.image_portrait" ng-click="choice(product,product.nummer)">
              <div class="product-tile">
                <div class="row">
                  <div class="col col-75">
                    <p class="item-number">{{product.nummer}}</p>
                    <p class="item-title">{{product.produktbezeichnung_de}}</p>
                    <p class="item-name">{{product.zusatz1_de}}</p>
                    <p>{{product.zusatz2_de}}</p>
                  </div>
                  <div class="col">
                    <img src="{{product.image_portrait}}">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
