<ion-view  id="page4" style="background-color:#9e0a22;" xmlns="http://www.w3.org/1999/html">
  <ion-nav-title>{{content.title}}</ion-nav-title>
  <!-- FAB -->
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#2c2a2b" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content padding="true" class="has-header">
    <div id="product-lines-body">
      <div class="row">
        <div class="col">
          <p style="color: #FFFFFF; margin-left: 104px;">Filter aktiv 181/200 Produkte</p>
        </div>
      </div>
      <div class="container">
        <div class="product-lines">
          <h3 class="heading">Wandeinbau Duscharmaturen</h3>
          <!-- Products -->
          <div ng-repeat="product in products" ng-if="$index%3 == 0" class="row responsive-sm">

            <div class="col" ng-click="choice_product(products[$index].product_ids, products[$index].title_de)" ng-if="products[$index].product_ids">
              <div class="product-tile">
                <div class="col">
                  <div class="product-counter">
                    <p><strong>{{products[$index].product_ids.length}} Artikel</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <img src="{{products[$index].bild}}" class="center" style="width: auto;">
                  </div>
                  <div class="col">
                    <h3 class="product-type" style="text-align: right;">{{products[$index].title_de}}</h3>
                  </div>
                </div>

              </div>
            </div>
            <!-- Check for children -->
            <div class="col" ng-click="choice(products[$index].child_ids,products[$index].title_de)" ng-if="products[$index].child_ids">
              <div class="product-tile">
                <div class="col">
                  <div class="product-counter">
                    <p><strong>{{products[$index].child_ids.length}} Artikel</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <img src="{{products[$index].bild}}" class="center" style="width: auto;"></div>
                  <h3 class="product-type" style="text-align: right;">{{products[$index].title_de}}</h3>
                </div>
              </div>
            </div>
            <!-- Product ID-->
            <div class="col" ng-if="products[$index + 1] != undefined && products[$index + 1].product_ids" ng-click="choice_product(products[$index + 1].product_ids,products[$index].title_de)">
              <div class="product-tile">
                <div class="col">
                  <div class="product-counter">
                   <p><strong>{{products[$index + 1].product_ids.length}} Artikel</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <img src="{{products[$index + 1].bild}}" class="center" style="width: auto;"></div>
                  <h3 class="product-type" style="text-align: right;">{{products[$index + 1].title_de}}</h3>
                </div>
              </div>
            </div>

            <!--Child Product-->
            <div class="col" ng-if="products[$index + 1] != undefined && products[$index + 1].child_ids" ng-click="choice(products[$index + 1].child_ids,products[$index].title_de)">
              <div class="product-tile">
                <div class="col">
                  <div class="product-counter">
                    <p><strong>{{products[$index + 1].child_ids.length}} Artikel</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <img src="{{products[$index + 1].bild}}" class="center" style="width: auto;"></div>
                  <h3 class="product-type" style="text-align: right;">{{products[$index + 1].title_de}}</h3>
                </div>
              </div>
            </div>

            <!--Product Ids-->
            <div class="col" ng-if="products[$index + 2] != undefined && products[$index + 2].product_ids" ng-click="choice_product(products[$index + 2].proudct_ids,products[$index + 2].title_de)">
              <div class="product-tile">
                <div class="col">
                  <div class="product-counter">
                    <p><strong>{{products[$index + 2].product_ids.length}} Artikel</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <img src="{{products[$index + 2].bild}}" class="center" style="width: auto;"></div>
                  <h3 class="product-type" style="text-align: right;">{{products[$index + 2].title_de}}</h3>
                </div>
              </div>
            </div>
            <!--Child IDs-->
            <div class="col" ng-if="products[$index + 2] != undefined && products[$index + 2].child_ids" ng-click="choice(products[$index + 2].child_ids,products[$index + 2].title_de)">
              <div class="product-tile">
                <div class="col">
                  <div class="product-counter">
                    <p><strong>{{products[$index + 2].child_ids.length}} Artikel</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <img src="{{products[$index + 2].bild}}" class="center" style="width: auto;"></div>
                  <h3 class="product-type" style="text-align: right;">{{products[$index + 2].title_de}}</h3>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
