<ion-view title="products" id="page4" style="background-color:#9e0a22;">
  <!-- Filter search bar -->
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <!-- FAB -->
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#2c2a2b" icon="ion-home" icon-color="#fff">
  </ion-floating-button>
  <ion-content padding="true" class="has-header">
    <!-- search bar
    <div id="search-bar-wrapper">
      <form id="search" action="#" method="post">
        <div id="label" ng-class="{'active' : enabled}">
          <label for="search-terms" id="search-label" ng-click="enabled = true">search</label>
        </div>
        <div id="input" ng-class="{'focus' : enabled}">
          <input type="text" name="search-terms" id="search-terms">
        </div>
      </form>
    </div>-->


    <h3 id="products-heading6" style="color:#FFFFFF; text-align: center;">Das SCHELL Produktsortiment</h3>
    <p style="color:#FFFFFF;  text-align: center; padding-left: 10px;">Das Produktsortiment von SCHELL Armaturen auf
      einen</p>
    <p style="color:#FFFFFF;  text-align: center;">Blick.Bitte wählen Sie eine Kategorie</p>
    <div class="row responsive-lg">

      <div class="col">
        <div class="col">
          <div class="product-tile">
            <div class="col-33">
              <div class="product-counter">
                <p>145 Artikel</p>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <img src="../img/waschtisch-basin.png" class="center" style="width: auto;">
              </div>
              <h3 class="product-type" style="text-align: right;">Waschtisch</h3>
            </div>
          </div>
          </div>
        </div>

      <div class="col">
        <div class="col">
          <div ui-sref="product_lines">
            <div class="product-tile">
              <div class="col-33">
                <div class="product-counter">
                  <p>1145 Artikel</p>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <img src="../img/dusche-shower.png" class="responsive-sm center">
                </div>
                <h3 class="product-type" style="text-align: right;">Dusche</h3>
              </div>
            </div>
          </div>
          </div>
        </div>


      <div class="col">
        <div class="col">
          <div class="product-tile">
            <div class="col-33">
              <div class="product-counter">
                <p>45 Artikel</p>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <img src="../img/wc.png" class="responsive-sm center">
              </div>
              <h3 class="product-type" style="text-align: right;">WC</h3>
            </div>
          </div>
          </div>
        </div>

    </div>
    <div class="row responsive-lg">

      <div class="col">
        <div class="col">
          <div class="product-tile">
            <div class="col-33">
              <div class="product-counter">
                <p>45 Artikel</p>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <img src="../img/urinal.png" class="responsive-sm center">
              </div>
              <h3 class="product-type" style="text-align: right;">urinal</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col">
          <div class="product-tile">
            <div class="col-33">
              <div class="product-counter">
                <p>45 Artikel</p>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <img src="../img/montagemodule-mountingmodule.png" class="responsive-sm center">
              </div>
              <h3 class="product-type" style="text-align: right;">montagemodule</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col">
          <div class="product-tile">
            <div class="col-33">
              <div class="product-counter">
                <p>45 Artikel</p>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <img src="../img/cd-instrument.png" class="responsive-sm center">
              </div>
              <h3 class="product-type" style="text-align: right;">Gerateanschluss Armaturen</h3>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row responsive-lg">
      <div class="col">
        <div class="col-33">
          <div class="product-tile">
            <div class="col-33">
              <div class="product-counter">
                <p>45 Artikel</p>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <img src="../img/eckventile-anglevalves.png" class="responsive-sm center">
              </div>
              <h3 class="product-type" style="text-align: right;">Eckventile</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
