<ion-view  id="page4" style="background-color:#9e0a22;" xmlns="http://www.w3.org/1999/html">
  <ion-nav-title>{{content.title}}</ion-nav-title>
  <!-- FAB -->
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#2c2a2b" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content padding="true" class="has-header">
    <div id="product-lines-body">
      <div class="row">
        <div class="col">
          <p style="color: #FFFFFF; margin-left: 104px;">Filter aktiv 181/200 Produkte</p>
        </div>
      </div>
      <div class="container">
        <div class="product-lines">
          <h3 class="heading">Wandeinbau Duscharmaturen</h3>
          <div class="row responsive-md">

            <div class="col">
              <div class="product-tile">
                <div class="col-33">
                  <div class="product-counter">
                    <p>145 Artikel</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-67">
                    <h3 class="product-type" style="text-align: left;">Linus</h3>
                  </div>
                  <img src="img/linus.png" class="center" style="width: auto;">
                </div>
              </div>
            </div>

            <div class="col">
              <div class="product-tile">
                <div class="col col-40">
                  <div class="product-counter">
                    <p>1145 Artikel</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-67">
                    <h3 class="product-type" style="text-align: left;">Linus Basic</h3>
                  </div>
                  <img src="img/linus-basic.png" class="responsive-sm center">
                </div>
              </div>
            </div>


            <div class="col">
              <div class="product-tile">
                <div class="col col-40">
                  <div class="product-counter">
                    <p>45 Artikel</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-60">
                    <h3 class="product-type" style="text-align: left;">Wandeinbau Masterboxen</h3>
                  </div>
                  <img src="img/masterboxen.png" class="responsive-sm center">
                </div>
              </div>
            </div>

          </div>
          <div class="row responsive-md">

            <div class="col col-33">
              <div class="product-tile">
                <div class="col col-40">
                  <div class="product-counter">
                    <p>45 Artikel</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-60">
                    <h3 class="product-type" style="text-align: left;">Montagemodule</h3>
                  </div>
                  <img src="img/montagemodule.png" class="responsive-sm center">
                </div>
              </div>
            </div>

            <div class="col col-33">
              <div class="product-tile">
                <div class="col col-40">
                  <div class="product-counter">
                    <p>45 Artikel</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <img src="img/zubehor.png" class="responsive-sm center">
                  </div>
                  <h3 class="product-type" style="text-align: right;">Zubehör</h3>
                </div>
              </div>
            </div>

          </div>
      </div>
      </div>
      <div class="container">
        <div class="product-lines">
          <h3 class="heading">Vorwand Duscharmaturen</h3>
          <div class="row responsive-sm">

            <div class="col" ui-sref="product_overview">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>145 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-60">
                      <h3 class="product-type" style="text-align: left;">Bezeichnung der Kategorie</h3>
                    </div>
                    <img src="img/waschtisch-basin.png" class="center" style="width: auto;">
                  </div>
                </div>

            </div>

            <div class="col">
                <div class="product-tile">
                  <div class="col col-67">
                    <div class="product-counter">
                      <p>1145 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-60">
                      <h3 class="product-type" style="text-align: left;">Linus Basic</h3>
                    </div>
                    <img src="img/linus-basic.png" class="responsive-sm center">
                  </div>
                </div>

            </div>


            <div class="col">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>45 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-60">
                      <h3 class="product-type" style="text-align: left;">Wandeinbau Masterboxen</h3>
                    </div>
                    <img src="img/masterboxen.png" class="responsive-sm center">
                  </div>
                </div>
              </div>


          </div>
          <div class="row responsive-sm">

            <div class="col col-33">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>45 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-60">
                      <h3 class="product-type" style="text-align: left;">Montagemodule</h3>
                    </div>
                    <img src="img/montagemodule.png" class="responsive-sm center">
                  </div>
                </div>
            </div>

            <div class="col col-33">
                <div class="product-tile">
                  <div class="col-33">
                    <div class="product-counter">
                      <p>45 Artikel</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-60">
                      <h3 class="product-type" style="text-align: left;">Zubehör</h3>
                    </div>
                    <h3 class="product-type" style="text-align: left;">Zubehör</h3>
                  </div>
                </div>
              </div>

          </div>



        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
