<ion-view title="Produktkategorien" id="page4" style="background-color:#9e0a22;">
  <ion-nav-buttons side="right">
    <!-- Filter search bar -->
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
    <!-- Breadcrumb ionic -->
    <button class="button icon ion-chevron-down" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <!-- For refreshing items -->
    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
    </ion-refresher>

    <div class="row">
      <div class="col text-left">
        <h3 id="categories-heading6" style="color:#FFFFFF;">Das SCHELL Produktsortiment</h3>
        <p style="color:#FFFFFF;">Das Produktsortiment von SCHELL Armaturen auf
          einen Blick. Bitte wählen Sie eine Kategorie</p>
      </div>
    </div>
    <!-- Products -->
    <div ng-repeat="category in categories" ng-if="$index%2 == 0" class="row responsive-sm" ng-show="filterOn == false">
        <div class="col col-50" ng-click="choice(categories[$index].child_ids,categories[$index].title_de,categories[$index].filter_ids)">
          <div class="product-tile">
            <div class="row">
              <div class="col">
                <div class="product-counter">
                  <p ng-if="categories[$index].child_ids"><strong>{{categories[$index].child_ids.length}} Artikel</strong></p>
                  <p ng-if="categories[$index].product_ids"><strong>{{categories[$index].product_ids.length}} Artikel</strong></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-25">
                <img src="{{categories[$index].bild}}" class="center" style="width: auto;">
              </div>
              <div class="col">
                <h3 class="product-type">{{categories[$index].title_de}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-50" ng-if="categories[$index + 1] != undefined" ng-click="choice(categories[$index + 1].child_ids,categories[$index + 1].title_de,categories[$index + 1].filter_ids)">
          <div class="product-tile">
            <div class="col">
              <div class="product-counter">
                <p ng-if="categories[$index + 1].child_ids"><strong>{{categories[$index + 1].child_ids.length}} Artikel</strong></p>
                <p ng-if="categories[$index + 1].product_ids"><strong>{{categories[$index + 1].product_ids.length}} Artikel</strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col col-25">
                <img src="{{categories[$index + 1].bild}}" class="center" style="width: auto;">
              </div>
              <div class="col">
                <h3 class="product-type">{{categories[$index + 1].title_de}}</h3>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div id="product-overview-body" ng-show="filterOn == true">
      <div class="container">
        <div ng-repeat="product in products" class="row responsive-sm">
          <div class="col col-50" ng-if="product.image_portrait" ng-click="choiceProduct(product,product.nummer)">
            <div class="product-tile">
              <div class="row">
                <div class="col col-75">
                  <p class="item-number">{{product.nummer}}</p>
                  <p class="item-title">{{product.produktbezeichnung_de}}</p>
                  <p class="item-name" ng-bind-html="product.werkstoff_de"></p>
                  <p>{{product.zusatz2_de}}</p>
                </div>
                <div class="col">
                  <img src="{{product.image_portrait}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div ng-if="categories !== undefined && !categories.length" class="no-results">
      <p>No Results</p>
    </div>


  </ion-content>
</ion-view>
