<ion-view title="products" id="page4" style="background-color:#9e0a22;">
  <ion-nav-buttons side="right">
    <!-- Filter search bar -->
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
    <!-- Breadcrumb ionic -->
    <button class="button icon ion-chevron-down" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>
  <!-- FAB Menu -->
  <ion-floating-menu menu-color="#2c2a2b" menu-open-color="#2c2a2b" backdrop="true">
    <ion-floating-item icon="schellicon-home" ui-sref="start-screen" button-color="#2c2a2b" text="Home" icon-color="#fff"></ion-floating-item>
    <ion-floating-item icon="schellicon-filter" menu-toggle="left" button-color="#2c2a2b" text="Toggle filter" icon-color="#fff"></ion-floating-item>
  </ion-floating-menu>
  <ion-content padding="true" class="has-header">
    <!-- For refreshing items -->
    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
    </ion-refresher>

    <div class="row">
      <div class="col text-left">
        <h3 id="products-heading6" style="color:#FFFFFF;">Das SCHELL Produktsortiment</h3>
        <p style="color:#FFFFFF;">Das Produktsortiment von SCHELL Armaturen auf
          einen</p>
        <p style="color:#FFFFFF;">Blick.Bitte wählen Sie eine Kategorie</p>
      </div>
    </div>
    <!-- Products -->
    <div class="row responsive-sm">
        <div class="col" ng-repeat="product in products">
          <div class="product-tile">
            <div class="col-67">
              <div class="product-counter">
                <p><strong>{{product.article}} Artikel</strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <img src="{{product.image}}" class="center" style="width: auto;">
              </div>
              <h3 class="product-type" style="text-align: right;">{{product.name}}</h3>
            </div>
          </div>
        </div>

      <div ng-if="products !== undefined && !products.length" class="no-results">
        <p>No Results</p>
      </div>

    </div>

  </ion-content>
</ion-view>
