<ion-view title="Ländereinstellungen" style="background-color: #8c0b0c">
  <ion-content padding="true" class="has-header">
    <div class="settings-container">
      <div class="row">
        <h3>Ländereinstellungen</h3>
      </div>
      <label class="item item-select" id="countryselect-select2" style="border-radius: 4px;">
        <select style="font-size: 16px;">
          <option disabled selected value> -- select an option --</option>
          <option>Deutschland</option>
          <option>Österreich</option>
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
