<ion-view title="SUCHE" id="page4" style="background-color:#9e0a22;">
  <ion-nav-buttons side="right">
    <!-- Search Bar -->
    <div class="item item-input-inset search-bar-wrapper">
      <label class="item-input-wrapper">
        <input type="search" ng-keypress="search($event)">
      </label>
      <button class="button ion-ios-search-strong"></button>
    </div>
  </ion-nav-buttons>
  <div class="row">
    <div class="col">
      <p style="background-color:#9e0a22; color: #fff; margin-top: 88px;">Suchen Sie nach Artikelnummern oder Produktnamen</p>
    </div>
  </div>
  <ion-content padding="false" class="has-header" style="margin-top: 94px;">
    <div id="product-overview-body">
      <div class="container">
        <div ng-show="products.length > 0" style="color: white; font-size: larger;">{{products.length}} Artikels
          gefunden
        </div>
        <div ng-repeat="product in products" class="row responsive-sm">
          <div class="col col-50" ng-if="product.image_portrait" ng-click="choiceProduct(product,product.nummer)">
            <div class="product-tile">
              <div class="row">
                <div class="col col-75">
                  <p class="item-number">{{product.nummer | split}}</p>
                  <p class="item-title">{{product.produktbezeichnung_de}}</p>
                  <p class="item-name" ng-bind-html="product.werkstoff_de"></p>
                  <p>{{product.zusatz2_de}}</p>
                </div>
                <div class="col">
                  <img src="{{product.image_portrait}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div ng-if="products !== undefined && !products.length && showFilter" class="no-results">
      <p style="color: #fff;">No Results</p>
    </div>
  </ion-content>
</ion-view>
