<ion-popover-view class="settings-popover" style="background-color: black;">
  <ion-content style="padding: 10px;">
    <h3 style="color: #FFFFFF; font-size: 14px;">Tipp: Inhalte offline verfügbar</h3>
    <p style="color: #FFFFFF; font-size: 12px;">
      Die SCHELL App bietet Ihnen die Möglichkeit
      Inhalte selektiv oder komplett offline verfügbar zu machen.
      Auf Aktualisierungen werden Sie natürlich trotzdem
      hingewiesen.
    </p>
    <button class="button button-block button-light" ng-click="goSettings()">Einstellungen</button>
  </ion-content>
</ion-popover-view>
