<ion-view title="EINSTELLUNGEN" id="page7" style="background-color:#9e0a22;">
  <ion-content padding="true" class="has-header">
    <form id="settings-form4" class="list">
      <label class="item item-input">
        <span class="input-label">Wählen Sie die Kategorien die Sie offline auf diesem Gerät speichern möchten.</span></label>
      <label class="item item-input">
        <span class="input-label">Letzte Aktualisierung: 23. 02. 2016</span></label>
      <ion-item class="item-divider" id="settings-list-item-divider1"> PRODUKTE</ion-item>
      <ion-checkbox id="settings-checkbox3" name="eSCHELL">eSCHELL </ion-checkbox>
      <ion-checkbox id="settings-checkbox4" name="waschtisch">Waschtisch</ion-checkbox>
      <ion-checkbox id="settings-checkbox5" name="dusche">Dusche</ion-checkbox>
      <ion-checkbox id="settings-checkbox6" name="wc">WC</ion-checkbox>
      <ion-checkbox id="settings-checkbox7">Urinal</ion-checkbox>
      <ion-checkbox id="settings-checkbox8">Montagemodule</ion-checkbox>
      <ion-checkbox id="settings-checkbox10">Geräteanschluss Armaturen</ion-checkbox>
      <ion-checkbox id="settings-checkbox11">Eckventile</ion-checkbox>
      <ion-item class="item-divider" id="settings-list-item-divider3"> VIDEOS</ion-item>
      <ion-checkbox id="settings-checkbox9">Videos</ion-checkbox>
      <ion-item class="item-divider" id="settings-list-item-divider4"> SETTINGS</ion-item>
      <ion-toggle toggle-class="toggle-assertive" id="settings-toggle1"><strong>Automatischer Sync deaktivieren</strong>
      </ion-toggle>
      <ion-toggle toggle-class="toggle-assertive" id="settings-toggle2"><strong>Mobiler Sync deaktivieren</strong>
      </ion-toggle>
    </form>
  </ion-content>
</ion-view>
