<ion-popover-view style="background-color: #2c2a2b;">
  <ion-content style="padding: 20px;">
    <h3 style="color: #FFFFFF;">Inhalte offline speichern:</h3>
    <p style="color: #FFFFFF;">
      Die App bietet Ihnen die Möglichkeit Komplette
      Inhalte offline verfügbar zu machen. Nutzen Sie das Setting Menü
      und entscheiden Sie weitere Inhalte lokal auf Ihrem Gerät zu speichern.
      Produktaktualisierungen werden Ihnen angezeigt.
    </p>
    <button class="button button-block button-light" ng-click="goSettings()">Settings öffnen</button>
    <button class="button button-block button-light">Nein, derzeit nicht</button>
  </ion-content>
</ion-popover-view>
