<ion-view title="start-screen" id="start-screen" style="background-color:#9E0A22;">
  <ion-nav-buttons side="right" class="has-header">
    <a class="button icon ion-android-settings" ng-href="#/settings"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="start_screen-container2" class="creator-container"></div>
    <a ui-sref="tabsController.products" id="start_screen-button2" class="button button-stable  button-block icon ion-android-arrow-forward">Produkte</a>
    <button id="start_screen-button3" class="button button-stable  button-block icon ion-android-film">Video</button>
    <h3 id="start_screen-heading5" style="color:#FFFFFF;">Verantwortung für Gesundheit.</h3>
    <div id="start_screen-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Ob Sanitärräume in Krankenhäusern, Seniorenheimen oder Schulen – in diesen und vielen vergleichbaren Objekten stellt konsequente Hygiene eine besondere Herausforderung dar.Entweder weil die Sanitäranlagen nicht ununterbrochen genutzt werden oder
        weil die Gefahr der Übertragung von Krankheitserregern bestmöglich vermieden werden soll.</p>

      <p style="color:#FFFFFF;">Eine anspruchsvolle Aufgabe, der sich SCHELL seit vielen Jahren verpflichtet fühlt. Kein Wunder, dass wir inzwischen weltweit zu den Pionieren technischer Lösungen gehören, die vor allem ein Ziel haben: die Gesundheit der Nutzer zu schützen.</p>
    </div>
  </ion-content>
</ion-view>
