<ion-view title="" id="start-screen" style="background-color:#9e0a22;" hide-back-button="true">
  <ion-nav-buttons side="right" class="has-header">
    <a class="button icon" ng-click="openPopover($event)" ng-show="show" style="background-color: black; border-radius: 0px;"><span class="schellicon-cog" style="color: #ccc; font-size: 25px; margin-top: 8px; margin-right: 3px;"></span></a>
  </ion-nav-buttons>
  <!-- FAB -->
  <ion-floating-button ui-sref="bookmark" has-footer="false" button-color="#2c2a2b" icon="schellicon-paper-clip" icon-color="#fff">
  </ion-floating-button>
  <ion-content padding="false" class="has-header">
    <ks-swiper-container initial-slide="3" pagination-is-active="true" autoplay="3000" loop="true" show-nav-buttons="false" slides-per-view="1">
      <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3]">
        <img ng-src="img/carousel-bild-{{s}}.png" width="100%">
      </ks-swiper-slide>
    </ks-swiper-container>
    <div class="row responsive-sm">
      <div class="col col-33">
        <!-- <div class="row"> -->
          <button ui-sref="products" id="start_screen-button2" class="button button-block button-block-start-screen button-stable">Produkte
          <span class="start-screen-button schellicon-product"></span></button>
        <!-- </div> -->
        <!-- <div class="row"> -->
          <button id="start_screen-button3" class="button button-block button-block-start-screen button-stable" ui-sref="video">Videos<span class="start-screen-button schellicon-video"></span></button>
        <!-- </div> -->
      </div>

      <div class="col start-text">
        <h2 id="start_screen-heading5" style="font-weight: bold; margin-top: -6px; margin-bottom: 30px;">Verantwortung für Gesundheit.</h2>
        <div id="start_screen-markdown5">
          <p style="margin-bottom: 20px;">Ob Sanitärräume in Krankenhäusern, Seniorenheimen oder Schulen – in diesen und
            vielen vergleichbaren Objekten stellt konsequente Hygiene eine besondere Herausforderung dar.Entweder weil
            die Sanitäranlagen nicht ununterbrochen genutzt werden oder
            weil die Gefahr der Übertragung von Krankheitserregern bestmöglich vermieden werden soll.</p>
          <p>Eine anspruchsvolle Aufgabe, der sich SCHELL seit vielen Jahren verpflichtet fühlt.
            Kein Wunder, dass wir inzwischen weltweit zu den Pionieren technischer Lösungen gehören, die vor allem ein
            Ziel haben: die Gesundheit der Nutzer zu schützen.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
