<ion-view title="Tabs Controller" id="page1">
  <ion-tabs class="tabs-dark tabs-icon-only" id="tabsController-tabs1">
    <ion-tab title="start_screen" icon="ion-home" href="#/page1/start_screen" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="" icon="ion-android-mail" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="bookmark" icon="ion-paperclip" href="#/page1/bookmark_list_detail" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="" icon="ion-android-download" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>