<ion-view title="VIDEOS" style="background-color:#9e0a22;">
  <ion-content padding="true" class="has-header">
    <div ng-repeat="video in videos">
      <div class="row responsive-sm">
        <div class="col">
          <h3 style="color: white">{{video.title}}</h3>
        </div>
        <div class="col">
          <video width="100%" height="100%" controls poster="{{video.startimage_de}}">
            <source src="{{trustSrc(video.videofile_de)}}" type='video/mp4'>
          </video>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
