<ion-view title="Videos"  style="background-color:#740505;">
  <ion-content padding="true" class="has-header">
    <div ng-repeat="video in videos">
      <div class="row responsive-sm">
        <div class="col">
          <h3 style="color: white">{{video.title}}</h3>
        </div>
        <div class="col">
          <video width="100%" height="100%" controls>
            <source src="{{trustSrc(video.de_data.videofile)}}">
          </video>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
