# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/www/lib/
/www/css/ionic.app.css
/www/css/ionic.app.min.css
config.xml
.idea/
resources/ios/icon/icon-40@3x.png
resources/ios/icon/icon-83.5@2x.png
tests/unit-tests.conf.js
www/img/carousel-bild-4.png
